hostname {{ inventory_hostname }}
!
spanning-tree mode {{ spanning_tree_mode }}
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
{% if management_api is defined %}
{% if management_api.gnmi is defined %}
management api gnmi
   transport {{ management_api.gnmi.transport }} {{ management_api.gnmi.name }}
!
{% endif %}
{% if management_api.netconf is defined %}
management api netconf
   transport {{ management_api.netconf.transport }} {{ management_api.netconf.name }}
!
{% endif %}
{% endif %}
{% for intf in interfaces %}
interface {{ intf.name }}
{% if intf.description is defined %}
   description {{ intf.description }}
{% endif %}
{% if intf.name != 'Management0' %}
   no switchport
{% endif %}
{% if intf.ip_address is defined %}
   ip address {{ intf.ip_address }}/{{ intf.prefix_length }}
{% endif %}
!
{% endfor %}
{% if routing.ip_routing %}
ip routing
!
{% endif %}
{% for route in routing.static_routes %}
ip route {{ route.prefix }} {{ route.next_hop }}
!
{% endfor %}
{% if routing.ospf is defined %}
router ospf {{ routing.ospf.process_id }}
{% if routing.ospf.redistribute_connected is defined and routing.ospf.redistribute_connected %}
   redistribute connected
{% endif %}
{% for network in routing.ospf.networks %}
   network {{ network.prefix }} area {{ network.area }}
{% endfor %}
   max-lsa {{ routing.ospf.max_lsa }}
!
{% endif %}
end
